/*
*
*  Created by Zvonimir Dimovski (Zvonr)
*  info@zvone.ninja
*
*/

body, div, h1, h2, h3, h4, ul, li, p, div {
  margin: 0px;
  padding: 0px;
  font-family: 'Raleway', sans-serif;
}
html{
  position: fixed;
  height: 100%;
  overflow: hidden;
}

body {
  background: rgb(42, 46, 47);
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
a {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

/* Animations */

@-webkit-keyframes showimageSVG {
    0%   { opacity: 0; transform: translateY(15px); }
    100% { opacity: 1; transform: translateY(0px);}
}
@-moz-keyframes showimageSVG {
    0%   { opacity: 0; transform: translateY(15px); }
    100% { opacity: 1; transform: translateY(0px);}
}
@-o-keyframes showimageSVG {
    0%   { opacity: 0; transform: translateY(15px); }
    100% { opacity: 1; transform: translateY(0px);}
}
@keyframes showimageSVG {
    0%   { opacity: 0; transform: translateY(15px); }
    100% { opacity: 1; transform: translateY(0px);}
}
@-webkit-keyframes dash {
    to { stroke-dashoffset: 0px;}
}
@keyframes dash {
    to { stroke-dashoffset: 0; }
}
@-webkit-keyframes fill {
    to { fill: #1A1919; }
}
@keyframes fill {
    to { fill: #1A1919; }
}

@-webkit-keyframes reveal-text {
	from {
		-webkit-clip-path: inset(0 100% 0 0);
    		        clip-path: inset(0 100% 0 0);
	}
	to {
		-webkit-clip-path: inset(0 0 0 0);
		        clip-path: inset(0 0 0 0);
	}
}
@keyframes reveal-text {
	from {
		-webkit-clip-path: inset(0 100% 0 0);
		        clip-path: inset(0 100% 0 0);
	}
	to {
		-webkit-clip-path: inset(0 0 0 0);
		        clip-path: inset(0 0 0 0);
	}
}
@-webkit-keyframes revealer-text {

	0%, 50% {
		-webkit-transform-origin: 0 50%;
		        transform-origin: 0 50%;
	}

	60%, 100% {
		-webkit-transform-origin: 100% 50%;
		        transform-origin: 100% 50%;
	}


	60% {
		-webkit-transform: scaleX(1);
		        transform: scaleX(1);
	}

	100% {
		-webkit-transform: scaleX(0);
		        transform: scaleX(0);
	}
}
@keyframes revealer-text {

	0%, 50% {
		-webkit-transform-origin: 0 50%;
		        transform-origin: 0 50%;
	}

	60%, 100% {
		-webkit-transform-origin: 100% 50%;
		        transform-origin: 100% 50%;
	}


	60% {
		-webkit-transform: scaleX(1);
		        transform: scaleX(1);
	}

	100% {
		-webkit-transform: scaleX(0);
		        transform: scaleX(0);
	}
}

@-webkit-keyframes lines {
    0%   { height: 0vh;  }
    100% { height: 100vh; }
}
@-moz-keyframes lines {
    0%   { height: 0vh;  }
    100% { height: 100vh; }
}
@-o-keyframes lines {
    0%   { height: 0vh; }
    100% { height: 100vh; }
}
@keyframes lines{
    0%   { height: 0vh; }
    100% { height: 100vh; }
}
@-webkit-keyframes animleft {
  0%   { margin-left: -2000px; opacity: 0;  }
  100% { margin-left: 0px; opacity: 1; }
}
@-moz-keyframes animleft {
  0%   { margin-left: -2000px; opacity: 0;  }
  100% { margin-left: 0px; opacity: 1; }
}
@-o-keyframes animleft {
  0%   { margin-left: -2000px; opacity: 0;  }
  100% { margin-left: 0px; opacity: 1; }
}
@keyframes animleft{
  0%   { margin-left: -2000px; opacity: 0;  }
  100% { margin-left: 0px; opacity: 1; }
}

@-webkit-keyframes showimage {
  0%   { opacity: 0;  }
  100% { opacity: 1; }
}
@-moz-keyframes showimage {
  0%   { opacity: 0;  }
  100% { opacity: 1; }
}
@-o-keyframes showimage {
  0%   { opacity: 0;  }
  100% { opacity: 1; }
}
@keyframes showimage {
  0%   { opacity: 0;  }
  100% { opacity: 1; }
}

@-webkit-keyframes hideimage {
  0%   { opacity: 1;  }
  100% { opacity: 0; }
}
@-moz-keyframes hideimage {
  0%   { opacity: 1;  }
  100% { opacity: 0; }
}
@-o-keyframes hideimage {
  0%   { opacity: 1;  }
  100% { opacity: 0; }
}
@keyframes hideimage {
  0%   { opacity: 1;  }
  100% { opacity: 0; }
}

@-webkit-keyframes showninja {
  0%   { opacity: 0; margin-right: -30px; }
  100% { opacity: 1; margin-right: 0px;}
}
@-moz-keyframes showninja {
  0%   { opacity: 0; margin-right: -30px; }
  100% { opacity: 1; margin-right: 0px;}
}
@-o-keyframes showninja {
  0%   { opacity: 0; margin-right: -30px; }
  100% { opacity: 1; margin-right: 0px;}
}
@keyframes showninja {
  0%   { opacity: 0; margin-right: -30px; }
  100% { opacity: 1; margin-right: 0px;}
}

@-webkit-keyframes port-overlay {
  0%   { margin-top: -10px; opacity: 0; }
  100% { margin-top: 0px; opacity: 1; }
}
@-moz-keyframes port-overlay {
  0%   { margin-top: -10px; opacity: 0; }
  100% { margin-top: 0px; opacity: 1; }
}
@-o-keyframes port-overlay {
  0%   { margin-top: -10px; opacity: 0; }
  100% { margin-top: 0px; opacity: 1; }
}
@keyframes port-overlay {
  0%   { margin-top: -10px; opacity: 0; }
  100% { margin-top: 0px; opacity: 1; }
}

@-webkit-keyframes port-overlay-mirror {
  0%   { margin-top: 10px; opacity: 0; }
  100% { margin-top: 0px; opacity: 1; }
}
@-moz-keyframes port-overlay-mirror {
  0%   { margin-top: 10px; opacity: 0; }
  100% { margin-top: 0px; opacity: 1; }
}
@-o-keyframes port-overlay-mirror{
  0%   { margin-top: 10px; opacity: 0; }
  100% { margin-top: 0px; opacity: 1; }
}
@keyframes port-overlay-mirror {
  0%   { margin-top: 10px; opacity: 0; }
  100% { margin-top: 0px; opacity: 1; }
}
@keyframes boxes-movement-first {
  0%   { }
  100% {
    transform-origin: bottom left;
    -ms-transform: skew(-45deg, 0deg);
    -webkit-transform: skew(-45deg, 0deg);
    transform: skew(-45deg, 0deg);
  }
}
@keyframes boxes-movement-second {
  0%   { }
  100% {
    transform-origin: top left;
    -ms-transform: skew(-45deg, 0deg);
    -webkit-transform: skew(-45deg, 0deg);
    transform: skew(-45deg, 0deg);
  }
}
@keyframes boxes-movement-third {
  0%   { }
  100% {
    transform-origin: top right;
    -ms-transform: skew(45deg, 0deg);
    -webkit-transform: skew(45deg, 0deg);
    transform: skew(45deg, 0deg);
  }
}
.anim-left {
  -webkit-animation: animleft 1s ease-out;
  -moz-animation:    animleft 1s ease-out;
  -o-animation:      animleft 1s ease-out;
  animation:         animleft 1s ease-out;
}
.my-avrt {
  -webkit-animation: showimage 1s ease-out;
  -moz-animation:    showimage 1s ease-out;
  -o-animation:      showimage 1s ease-out;
  animation:         showimage 1s ease-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  opacity: 0;
}
.konnichiva {
  -webkit-animation: showimage 2s ease-out;
  -moz-animation:    showimage 2s ease-out;
  -o-animation:      showimage 2s ease-out;
  animation:         showimage 2s ease-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
  opacity: 0;
}
.service{
  -webkit-animation: showimage 2s ease-out;
  -moz-animation:    showimage 2s ease-out;
  -o-animation:      showimage 2s ease-out;
  animation:         showimage 2s ease-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 1.4s;
  animation-delay: 1.4s;
  opacity: 0;
}
.ninjas {
  -webkit-animation: showninja 1s ease-out;
  -moz-animation:    showninja 1s ease-out;
  -o-animation:      showninja 1s ease-out;
  animation:         showninja 1s ease-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 1.4s;
  animation-delay: 1.4s;
  opacity: 0;
}
.menu, #page1, #page2, #page3, .progress, .click-menu, .page-about {
  -webkit-animation: showimage 1.5s ease-out;
  -moz-animation:    showimage 1.5s ease-out;
  -o-animation:      showimage 1.5s ease-out;
  animation:         showimage 1.5s ease-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 1.4s;
  animation-delay: 1.4s;
  opacity: 0;
}
.desktopWebsite {
  -webkit-animation: showimage 1s ease-out;
  -moz-animation:    showimage 1s ease-out;
  -o-animation:      showimage 1s ease-out;
  animation:         showimage 1s ease-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: .5s;
  animation-delay: .5s;
  opacity: 0;
}
.scroll-helper-hide  {
  -webkit-animation: hideimage 1s ease-out;
  -moz-animation:    hideimage 1s ease-out;
  -o-animation:      hideimage 1s ease-out;
  animation:         hideimage 1s ease-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 0.5s;
}
.inner-control-right, .inner-control-left {
  -webkit-animation: showimage .5s ease-in-out;
  -moz-animation:    showimage .5s ease-in-out;
  -o-animation:      showimage .5s ease-in-out;
  animation:         showimage .5s ease-in-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  opacity: 0;
}
.overlay-border {
  -webkit-animation: port-overlay .2s ease-in-out;
  -moz-animation:    port-overlay .2s ease-in-out;
  -o-animation:      port-overlay .2s ease-in-out;
  animation:         port-overlay .2s ease-in-out;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.overlay-box {
  -webkit-animation: port-overlay-mirror .2s ease-in-out;
  -moz-animation:    port-overlay-mirror.2s ease-in-out;
  -o-animation:      port-overlay-mirror .2s ease-in-out;
  animation:         port-overlay-mirror .2s ease-in-out;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.subpage-header-text h1, .modal-close, #myTabMenu, .design-pref {
  -webkit-animation: port-overlay .5s linear;
  -moz-animation:    port-overlay .5s linear;
  -o-animation:      port-overlay .5s linear;
  animation:         port-overlay .5s linear;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  animation-delay: 0.4s;
  opacity: 0;
}
.subpage-header-text h2 {
  -webkit-animation: port-overlay-mirror .5s linear;
  -moz-animation:    port-overlay-mirror .5s linear;
  -o-animation:      port-overlay-mirror .5s linear;
  animation:         port-overlay-mirror .5s linear;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  animation-delay: 0.4s;
  opacity: 0;
}
.boxes .first {
  -webkit-animation: boxes-movement-first .5s linear;
  -moz-animation:    boxes-movement-first .5s linear;
  -o-animation:      boxes-movement-first .5s linear;
  animation:         boxes-movement-first .5s linear;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.boxes .second {
  -webkit-animation: boxes-movement-second .5s linear;
  -moz-animation:    boxes-movement-second .5s linear;
  -o-animation:      boxes-movement-second .5s linear;
  animation:         boxes-movement-second .5s linear;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.boxes .third {
  -webkit-animation: boxes-movement-third .5s linear;
  -moz-animation:    boxes-movement-third .5s linear;
  -o-animation:      boxes-movement-third .5s linear;
  animation:         boxes-movement-third .5s linear;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

/*
  Override bootstrap
*/

#page0 .col-xs-6, .about-me-page .col-sm-6, .col-md-6, .col-md-4, .col-md-8 {
  padding: 0px;
  margin: 0px;
}
.progress {
  border-radius: 15px;
}
.progress-bar-photoshop {
  background-color: #2e9cdb;
}
.progress-bar-html5 {
  background-color: #c92edb;
}
.progress-bar-css3 {
  background-color: #cc7128;
}
.progress-bar-js {
  background-color: #529547;
}
.progress-bar-sketch {
  background-color: #ee2930;
}
.portfolio-bg .row {
  padding: 0px 0px;
}
header .container-fluid {
  padding-left: 0px!important;
  padding-right: 0px!important;
}
.modal {
  padding: 0px!important;
  margin: 0px!imporant;
  position: absolute;
}
.modal-content {
  background-color: rgba(0,0,0,0.7);
  border-radius: 0px;
  border: 0px;
}
.modal-dialog {
  transform: none!important;
  -webkit-transform: none!important;
  -moz-transform: none!important;
  -ms-transform: none!important;
}
.modal-header {
  border-bottom: 1px solid #525252 ;
}
.modal-title {
  color: #fff;
}
.modal-dialog {
  margin: 0px;
}
.modal-body {
  padding: 0px;
}
.panel-default>.panel-heading {
  background: #ee2930;
  border: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom: 1px solid #CA2128;
  padding: 0px 0px;
  position: relative;
}
.panel-group .panel {
  margin-bottom: 0;
  border-radius: 0px;
}
.panel-default {
  border-color: transparent;
}
.panel {
  border: 0px ;
  border-radius: 0px;
}
.panel-title a {
  position: relative;
  display: block;
  width: 100%;
  padding: 30px 15px;
  color: #fff;
  text-indent: 80px;
  text-decoration: none;
}
.panel-title a:hover {
  text-decoration: none;
}
.panel-title i {
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #fff;
  font-size: 24px;
}
.panel-heading [data-toggle="collapse"]:after {
  font-family: FontAwesome;
  content: "\f01b";
  font-size: 18px;
  color: #fff;
  position: absolute;
  right: 30px;
}
.panel-heading [data-toggle="collapse"].collapsed:after {
  content: "\f01a";
  position: absolute;
  right: 30px;
}
#carousel, #carousel-1, #carousel-2, carousel-3 {
  width: 738px;
  margin: -688px auto;
  display: none;
}
.carousel-indicators {
  position: relative;
  z-index: 150;
  margin-top: 125px;
}
.nav-tabs > li, .nav-pills > li {
  float:none;
  display:inline-block;
  *display:inline;
  zoom:1;
  margin-right: 10px;
}
.nav-tabs, .nav-pills {
  text-align:center;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  color: #ddd;
  background-color: #ee2930;
  border: 0;
  border-bottom-color: transparent;
}
.nav-tabs>li>a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 0;
  color: #fff;
}
.nav-tabs {
  border: 0;
}
.nav>li>a:focus, .nav>li>a:hover {
  background: transparent;
  box-shadow:0px 0px 0px 1px black inset;
}
.nav>li>a {
  padding: 22px 35px;
  text-transform: uppercase;
}
.fix-padding {
  padding-right: 0px!important
}
.tooltip > .tooltip-inner {
  text-align: left;
  padding: 30px 30px;
  font-size: 14px;
  max-width: 300px;
  width: 100%;
  line-height: 22px;
  white-space: pre-wrap;
}

/* FullPageJS plugin CSS */

html.fp-enabled,
.fp-enabled body {
  margin: 0;
  padding: 0;
  overflow:hidden;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
#superContainer {
  height: 100%;
  position: relative;
  -ms-touch-action: none;
  touch-action: none;
}
.fp-section {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.fp-slide {
  float: left;
}
.fp-slide, .fp-slidesContainer {
  height: 100%;
  display: block;
}
.fp-slides {
  z-index:1;
  height: 100%;
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.fp-section.fp-table, .fp-slide.fp-table {
  display: table;
  table-layout:fixed;
  width: 100%;
}
.fp-tableCell {
  vertical-align: middle;
  width: 100%;
  height: 100%;
}
.fp-slidesContainer {
  float: left;
  position: relative;
}
.fp-controlArrow {
  position: absolute;
  z-index: 4;
  top: 300px;
  cursor: pointer;
  width: 65px;
  height: 70px;
  background: rgba(0,0,0,0.7);
  margin-top: -40px;

  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.fp-controlArrow:hover {
  background: rgba(0,0,0,0.5);
}
.box-control {
  float: left;
  width: 65px;
  background: #000;
  height: 100%;
  padding-top: 23px;
}
.box-control-right {
  float: right;
  width: 65px;
  background: #000;
  height: 100%;
  padding-top: 23px;
}
.inner-control-left {
  display: none;
}
.inner-control-right {
  display: none;
}
.inner-control-left img {
  margin-right: 6px;
}
.inner-control-right img {
  margin-left: 6px;
}
.fp-controlArrow span:nth-of-type(1) {
  color: #a8a8a8;
  font-weight: 700;
  text-transform: uppercase;
}
.fp-controlArrow.fp-prev {
  left: 0px;
  text-align: center;
}
.fp-controlArrow.fp-next {
  right: 0px;
  text-align: center;
}
.fp-notransition {
  -webkit-transition: none !important;
  transition: none !important;
}
#fp-nav {
  position: fixed;
  z-index: 100;
  margin-top: -32px;
  top: 50%;
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
#fp-nav.right {
  right: 17px;
}
#fp-nav.left {
  left: 17px;
}
.fp-slidesNav{
  position: absolute;
  z-index: 4;
  left: 50%;
  opacity: 1;
}
.fp-slidesNav.bottom {
  bottom: 17px;
}
.fp-slidesNav.top {
  top: 17px;
}
#fp-nav ul,
.fp-slidesNav ul {
  margin: 0;
  padding: 0;
}
#fp-nav ul li,
.fp-slidesNav ul li {
  display: block;
  width: 14px;
  height: 13px;
  margin: 7px;
  position:relative;
}
.fp-slidesNav ul li {
  display: inline-block;
}
#fp-nav ul li a,
.fp-slidesNav ul li a {
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
}
#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span{
  height: 12px;
  width: 12px;
  margin: -6px 0 0 -6px;
  border-radius: 100%;
 }
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  height: 4px;
  width: 4px;
  border: 0;
  background: #333;
  left: 50%;
  top: 50%;
  margin: -2px 0 0 -2px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
#fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a span{
  width: 10px;
  height: 10px;
  margin: -5px 0px 0px -5px;
}
#fp-nav ul li .fp-tooltip {
  position: absolute;
  top: -2px;
  color: #fff;
  font-size: 14px;
  font-family: arial, helvetica, sans-serif;
  white-space: nowrap;
  max-width: 220px;
  overflow: hidden;
  display: block;
  opacity: 0;
  width: 0;
}
#fp-nav ul li:hover .fp-tooltip,
#fp-nav.fp-show-active a.active + .fp-tooltip {
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
  width: auto;
  opacity: 1;
}
#fp-nav ul li .fp-tooltip.right {
  right: 20px;
}
#fp-nav ul li .fp-tooltip.left {
  left: 20px;
}

/* Progres bar */

.circular-bar {
  text-align: center;
}
.circular-bar .circular-bar-content {
  margin-bottom: 70px;
  margin-top: -95px;
  text-align: center;
}
.circular-bar .circular-bar-content strong {
  display: block;
  font-weight: 600;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.5rem;
  line-height: 24px;
}
.circular-bar .circular-bar-content label {
  display: block;
  font-weight: 300;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.25rem;
  line-height: 20px;
}
.button-hover img, .button-hover-opposite img {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transition-timing-function: ease-in;
}
.button-hover img {
  margin-right: 4px;
}
.button-hover-opposite img {
  margin-left: 4px;
}

/* Frontend dev slide */

.logo-placement {
  width: 100%;
  height: 100%;
  position: relative;
}
.logo-placement i {
  position: absolute;
  font-size: 100px;
  color: #fff;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition: all 0.2s;
}
.color-gray {
  background: #313131;
}
.color-red {
  background: #ee2930;
}
.color-blue {
  background: #52a2bf;
}
.color-voogle {
  background: #25A9AB;
}
.color-awethor {
  background: #ba8f27;
}
.color-kids {
  background: #7f38a8;
}
.misionary-item .fd-boxes > span {
  transition: all 0.3s ease;
}
.misionary-item .fd-boxes > span::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    height: 2px;
    width: 0;
    -webkit-transition: width 0.25s, top 0.2s;
    transition: width 0.2s, top 0.2s;
    background-color: #111111;
    z-index: 99999;
}
.misionary-item:hover .fd-boxes > span {
  color: #f3cd85;
  display: block;
  position: relative;
}
.misionary-item:hover .fd-boxes > span::after {
  width: 100%;
}
.misionary-item:hover .mobile-item {
  display: none;
}

.frontend-url {
  display: block;
  width: 150px;
  border: 1px solid #ccc;
  padding: 15px 0px;
  margin: 30px 0px;
  text-align: center;
  color: #454545;
}
.frontend-url:hover , .frontend-url:focus{
  text-decoration: none;
  border: 0;
  border: 1px solid #ee2930;
  background: #ee2930;
  color: #fff;
}

/*
  Header
*/

header {
  background: #f4f4f4;
  overflow: hidden;
}
.elements {
  position: absolute;
  z-index: 100;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
.dark, light {
  width: 100%;
  float: left;
  position: relative;
}
.dark {
  background: #101010;
}
.light {
  background: #f4f4f4;
}
.konnichiva {
  font-size: 50px;
  color: #f1f1f1;
  font-weight: 100;
  margin-left: 15px;
}
.text-dark {
  color: #ee2930;
  font-weight: 900;
  margin-left: 10px;
  text-shadow: 2px 2px #F4F4F4;
}
.my-avrt {
  position: absolute;
  left: 50%;
  margin-left: 15px;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  margin-top: -110px;
}
.my-avrt img {
  border: 5px solid #f4f4f4;
  width: 80%;
}
.box {
  position: absolute;
  color: #fff;
  top: 150%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  width: 175px;
  margin-left: -87px;
}
.service {
  background: #ee2930;
  padding-top: 12px;
  padding-bottom: 13px;
  margin-bottom: 10px;
  font-size: 17px;
  text-align: center;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.ninjas {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 100;
  overflow: hidden;
  text-align: right;
}
.ninjas img {
  width: 40vw;
  max-width: 520px;
}

/*
  Header part
*/

:root {
	--white-text: #ffffff;
	--orange-text-bg: #ee2930;
    --movement-pattern: cubic-bezier(0.0, 0.0, 0.2, 1);
}
.fd-boxes {
  color: var(--white-text);
  font-weight: bold;
  font-size: 19px;
}
.flex-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
#section0 {
    height: 100vh;
}
.ninja-illustration {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%);
}
.main-text-ninja {
    position: relative;
    text-align: center;
    top: 50%;
    transform: translateY(-55%);
    overflow: hidden;
}
#ninja-svg {
    stroke-dasharray: 1339;
    stroke-dashoffset: 1339;
    -webkit-animation: dash 3s linear forwards, fill 1.5s 1.5s linear forwards;
    animation: dash 3s linear forwards, fill 1.5s 1.5s linear forwards;
    fill: #2A2E2F;
}
.reveal-text {
    position: absolute;
    font-weight: 800;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-32%);
    font-size: 40px;
    padding: 0px 30px;
    display: block;
    -webkit-animation-name: reveal-text;
    animation-name: reveal-text;
    color: var( --white-text );
    white-space: normal;
    width: 100%;
}
.reveal-text, .reveal-text::after {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-duration: 800ms;
    animation-duration: 800ms;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: var(--movement-pattern);
    animation-timing-function: var(--movement-pattern);
}
.reveal-text::after {
    content: "";
    position: absolute;
    z-index: 999;
    height: 200px;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--orange-text-bg );
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    pointer-events: none;
    -webkit-animation-name: revealer-text;
    animation-name: revealer-text;
}

.grid {
    position: relative;
    z-index: -1;
}
.linez {
    position: fixed;
    width: 1px;
    background-color: #373B3C;
    top: 0;
    -webkit-animation: lines ease-in-out;
    -moz-animation: lines ease-in-out;
    -o-animation: lines ease-in-out;
    animation: lines ease-in-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    transition: all 500ms;
}
.orange {
    color: var(--orange-text-bg);
}
.konnich,
.block-progress {
    -webkit-animation: showimageSVG .7s var(--movement-pattern);
    -moz-animation:    showimageSVG .7s var(--movement-pattern);
    -o-animation:      showimageSVG .7s var(--movement-pattern);
    animation:         showimageSVG .7s var(--movement-pattern);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    opacity: 0;
}
.konnich {
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
}


.separator, .header-info, .portfolio-header-info {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 100;
  width: 100%;
}
.separator {
   margin-top: -95px;
}
.header {
  width: 100%;
  height: 330px;
  position: relative;
}
.page-portfolio, .page-about {
  text-align: center;
}
.page-about {
  background: #fff;
}
.header-info {
  color: #1c1c1c;
}
.header-info h1 {
  font-weight: 100;
  font-size: 36px;
}
.header-info h2 {
  display: none;
}
span.red {
  color: #121212;
  display: inline-block;
  position: relative;
}
span.red::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background: #111111;
  bottom: -5px;
}
.short-about-me {
  background: #fb454c;
  height: 330px!important;
}
.my-skills {
  background: #f4f4f4;
}
.click-menu {
  position: fixed;
  z-index: 100;
  left: 0px;
  top: 0px;
  z-index: 1001;
}
#myMenu, #myTabMenu {
  z-index: 1001;
  background: #fff;
  padding: 0px 15px;
  list-style: none;
  width: 100%;
  font-size: 18px;
}
#myMenu {
  display: none;
  position: fixed;
  top: 0px;
  padding: 10px 30px;
  text-align: center;
}
#myTabMenu {
  top: 0px;
  position: fixed;
  left: 67px;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
#myMenu li, #myTabMenu li {
  margin-left: 0px;
  height: auto;
  margin: 20px 0px;
}
#myMenu li a, #myTabMenu  li a {
  color: #000;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
}
#myMenu li a:hover, #myTabMenu li a:hover {
  text-decoration: none;
}
#myMenu li.active a, #myTabMenu li.active a  {
  color: #ee2930;
  text-decoration: none;
}
.scroll-helper {
  position: absolute;
  z-index: 1001;
  background: #000;
  color: #fff;
  top: 100px;
  left: 0px;
  width: 100px;
  text-align: center;
  padding: 22px 0px;
  display: none;
}
.scroll-text {
  text-transform: uppercase;
  font-size: 9px;
}

/* About text */

.about-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: #fff;
  width: 100%;
  text-align: center;
}
.smaller-fonts .about-text {
  font-size: 18px!important;
}
.main-text {
  /* margin-top: -5vh; */
  font-size: 30px;
  font-weight: bold;
  padding: 0px 30px;
}
.big-text {
  font-size: 48px;
  font-weight: 700;
}
.smaller-fonts .big-text {
  font-size: 60px;
}
.itallic {
  font-style: italic;
  margin-top: 5vh;
  font-weight: 200;
}
.hw_center {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  width: 100%;
}
.skill_desc, .prog {
  float: left;
}
.skill_desc {
  width: 20%;
  text-align: right;
  margin-right: 30px;
  margin-left: 10px;
}
.skill:first-child {
  margin-top: 0px;
}
.skill {
  margin-top: 20px;
  font-weight: 700;
}
.prog {
  width: 60%;
}
.social-icons {
  margin-top: 30px;
}
.social-icons .circle {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #101010;
  display: inline-block;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease
}
.social-icons .circle:hover {
  background: #ee2930;
}
.social-icons .circle a {
  padding: 10px 25px;
}
.social-icons .circle a:hover {
  text-decoration: none;
}
.social-icons i {
  position: absolute;
  color: #fff;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

/* Page portfolio */

.webdesign, .frontend, .misc {
  background-repeat:no-repeat;
  background-size: auto;
  background-position:center;
}
.webdesign {
  background-image: url(/images/work.jpg);
}
.frontend {
  background-image: url(/images/work1.jpg);
}
.misc {
  background-image: url(/images/skateboarding.jpg);
}
.portfolio-header-info h1 {

  font-weight: 800;
  color: #fff;
  margin-bottom: 10px;
}
.portfolio-header-info h3 {
  color: #fff;
  font-size: 20px;
}
.portfolio-bg {
  background: #f5f5f5;
}
.portfolio-missionary {
  padding: 0px 0px;
}
.misionary-item {
  background: #fff;
  width: 100%;
  height: 100%;
  position: relative;
  overflow:hidden;
}
.misionary-item:hover {
  cursor: pointer;
}
.misionary-item:hover img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}
.misionary-item img {
  width: 100%;
  webkit-filter: grayscale(0);
	filter: grayscale(0);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  top: 0;
  display: none;
}
.overlay-box, .overlay-border {
  position: absolute;
  color: #fff;
  left: 50%;
  top: 50%;
  width: 60%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  text-align: center;
}
.overlay-border {
  width: 80%;
  height: 80%;
  border: 1px solid #999999 ;
}
.overlay-box a {
  padding: 10px 20px;
  border: 1px solid #fff;
  margin-top: 20px;
  color: #fff;
}
.overlay-box a:hover {
  text-decoration: none;
  border: 3px solid #fff;
}
.overlay-box h3 {
  margin-bottom: 30px;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
}
.portfolio-title {
  font-size: 20px;
  padding: 30px 0px 20px 0px;
  font-weight: 800;
}
.missionary-footer {
  position: absolute;
  bottom: 20px;
  width: 85%;
}
.client-id, .tags {
  font-size: 13px;
  color: #9d9d9d;
}
.client-id {
  border-bottom: 1px dotted #ccc;
  padding-bottom: 5px;
  font-weight: 600;
}
.tags {
  padding-top: 5px;
  font-weight: 300;
}
.company-info {
  margin-left: 3px;
}
.portolio-subpage header {
  width: 100%;
  height: 400px;
  overflow: hidden;
  position: relative;
  background-color: rgba(255,255,255,0.6);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.vinc-subpage {
  background-image: url(/template/vinc/header-image.jpg);
  background-repeat: no-repeat;
}
.vivarise-subpage {
  background-image: url(/template/vivarise/header-image.jpg);
  background-repeat: no-repeat;
}
.expandlab-subpage {
  background-image: url(/template/expandlab/header-image.jpg);
  background-repeat: no-repeat;
}
.unhcr-stats-subpage {
  background-image: url(/template/stats/header-image.jpg);
  background-repeat: no-repeat;
}
.salonchamp-subpage {
  background-image: url(/template/salon/header-image.jpg);
  background-repeat: no-repeat;
}
.pharma-subpage {
  background-image: url(/template/pharma/header-image.jpg);
  background-repeat: no-repeat;
}
.voogle-subpage {
  background-image: url(/template/voogle/header-image.jpg);
  background-repeat: no-repeat;
}
.awethor-subpage {
  background-image: url(/template/awethor/header-image.jpg);
  background-repeat: no-repeat;
}
.kids-subpage {
  background-image: url(/template/kids/header-image.jpg);
  background-repeat: no-repeat;
}
.subpage-header-text {
  position: relative;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.subpage-header-text h1 {
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 800;
}
.subpage-header-text h2 {
  font-size: 20px;
}
.portfolio-colors {
  background-color: #fff;
}
.line {
  width: 50px;
  height: 3px;
  background-color: #ffbf40;
  margin-bottom: 30px;
  margin-top: 10px;
}
.article-image {
  height: 400px;
  overflow: hidden;
}
.article-text {
  padding: 50px;
}
.article-text h1, .item-header h1 {
  font-weight: 800;
  margin-bottom: 30px;
}
.article-text p {
  font-size: 16px;
  line-height: 26px;
}
.vinc-image, .vivarise-image, .expandlab-image  {
  background-repeat: no-repeat;
  background-size: cover;
}
.vinc-image {
  background-image: url(/template/vinc/desc-image.jpg);
}
.vivarise-image {
  background-image: url(/template/vivarise/desc-image.jpg);
}
.expandlab-image {
  background-image: url(/template/expandlab/desc-image.jpg);
}
.mobile-item {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    line-height: 80px;
    text-align: center;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.6));
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.mobile-item i {
  color: #fff;
  font-size: 18px;
}

/* Presentation pages */

.presentation-pages {
  text-align: center;
  background: #f6f6f6;
  padding-bottom: 100px;
}
.portolio-subpage .mobile {
  text-align: center;
  background: #313131;
  padding-top: 40px;
}
.item-header {
  margin: 100px 0px;
}
.item-header h1 {
  line-height: 90px;
}
.mobile .item-header h1 {
  color: #fff;
  font-weight: bold;
}
.presentation-pages .circle_num, .mobile .circle_num {
  text-align: center;
  margin: 0 auto;
  border-radius: 50%;
  width: 100px;
	height: 100px;
}
.presentation-pages .circle_num {
  background: #171b1e;
}
.mobile .circle_num {
  background: #fff;
}
.presentation-pages .circle_num div, .mobile .circle_num div {
  font-size: 44px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}
.presentation-pages .circle_num div {
  color: #fff;
}
.mobile .circle_num div {
  color: #171b1e;
}
.screenshot img {
  max-width: 100%;
}
.modal-close {
  position: fixed;
  width: 66px;
  height: 66px;
  z-index: 1000000;
  background: #000;
  background-image: url(/images/close.png);
  background-repeat: no-repeat;
  background-position: center;
  top: 0px;
  left: 0px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
.modal-close:hover {
  background-color: rgba(0,0,0,0.7);
}
.item-header .line {
  margin: 0 auto;
}
.design-board {
  width: 100%;
}
.mockup-comp {
  text-align: center;
  background-image: url(/images/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 80px 0px;
  position: relative;
}
.macbook-mockup {
  display: none;
  position: relative;
  z-index: 100;
  width: 972px;
  margin: 0 auto;
}
.mob-box {
  margin: 0 auto;
  width: 972px;
  position: relative;
}
.iphone-mockup {
  position: absolute;
  bottom: 0px;
  right: 150px;
  z-index: 102;
}
.web-mobile {
  margin-top: -202px;
  z-index: 120;
  position: relative;
  float: right;
  margin-right: 44px;
}
.carousel-inner {
  z-index: 101;
}
.carousel-inner img.web-desk {
  position: relative;
  z-index: 101;
}
.carousel-header {
  margin-bottom: 0px;
  color: #fff;
}
.carousel-header a {
  position: relative;
  color: #E2E1E1;
  border: 1px solid #82786D ;
  padding: 20px 50px;
  text-transform: uppercase;
  font-size: 12px;
}
.carousel-header a:hover, .carousel-header a:focus {
  color: #fff;
  border: 1px solid #fff;
  text-decoration: none;
}
.carousel-header a:hover::after, .carousel-header a:focus::after {
  position: absolute;
  right: 20px;
  top: 19px;
  color: #fff;
  font-family: FontAwesome;
  content: "\f178";
}

/* Page CV */

.wrapper {
  position: relative;
  width: 100%;
  background-color: #101010;
  padding-top: 10vh;
}
.cv-title {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 66px;
  height: 66px;
  font-size: 16px;
  font-weight: 700;
  background-color: #ee2930;
  color: #fff;
}
.cv-details {
  color: #C5C5C5;
  font-size: 13px;
}
.cv-group {
  width: 90%;
  margin-left: 15px;
}
.cv-title span, .cv-check i {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.pro-exp {
  font-size: 40px;
  border-bottom: 1px solid #2F2F2F;
  color: #EE2930;
  font-weight: 300;
  margin-bottom: 40px;
  margin-top: 0px;
  padding-bottom: 10px;
}
.fix-margin {
  margin-right: 15px;
}
.cv-item {
  color: #fff;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px dotted #2F2F2F;
  width: 100%;
}
.detail-company {
  font-size: 15px;
  font-weight: 800;
  color: #fff;
  margin-bottom: 10px;
}
.cv-check {
  position: relative;
  color: #fff;
  background: #ee2930;
  width: 85px;
  margin-right: 20px;
}
.cv-check i {
  font-size: 20px;
}
.cv-icon {
  margin-right: 5px;
  font-size: 11px;
}
.detail-position, .detail-positions {
  margin-bottom: 5px;
}
.detail-date {
  margin-bottom: 20px;
}
.detail-position span::after {
  font-family: FontAwesome;
  content: "\f07e";
  margin-left: 10px;
  margin-right: 5px;
  font-size: 8px;
}
.detail-position span:last-child::after {
  content: "";
}
.cv-details a {

}
.zvonimir-info {
  color: #fff;
  margin-left: 25px;
  padding-top: 15px;
  line-height: 22px;
}
.myAge span, .myHabitat span {
  color: #656565;
  margin-right: 10px;
}
.aboutMeText {
  font-size: 21px;
  margin-bottom: 80px;
  color: #5A5A5A;
  padding: 30px 0px 0px 25px;
  margin-top: 30px;
  line-height: 34px;
}
.flex-cv {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-left: 40px;
  padding-top: 20px;
}
.my-avrt-cv img {
  border: 3px solid #f4f4f4;
  width: 100%;
  margin-top: 15px;
}
.myName {
  font-size: 20px;
  margin-bottom: 10px;
}
.social-contact {
  margin-top: 15px;
  font-size: 14px;
}
.social-contact span {
  margin-right: 10px;
}
.social-contact span a,
.t-link-color {
  color: #fff;
}
.social-contact span a:hover,
.t-link-color:hover {
  color: #fff;
  opacity: 0.7;
}
.t-link-color {
  text-decoration: underline;
  font-size: 12px;
}

/* Tabs */

.designTabs {
  padding-top: 100px;
}
.tab-content {
  text-align: center;
  margin-top: 140px;
  overflow: hidden;
}
.tab-content img {
  width: 100%;
}
#designs {
  background-color: #F5C249;
}
.design-pref {
  position: fixed;
  top: 67px;
  width: 66px;
  text-align: center;
  z-index: 1001;
}
.design-pref .desktop, .design-pref .mobile {
  background: #000;
  color: #fff;
}
.design-pref .mobile {
  margin-top: 1px;
}
.design-pref .desktop i {
  font-size: 14px;
  line-height: 66px;
}
.design-pref .mobile i {
  font-size: 24px;
  line-height: 66px;
}
.boxes {
  position: fixed;
  width: 100%
}
.design-bg {
  width: 100%;
  height: 33vh;
}
.boxes .first {
  background: #ea4b4b;
}
.boxes .second {
  background: #3d4f64;
}
.boxes .third {
  background: #61326a;
}
.cv-worked {
  margin-top: 25px;
  padding: 0px 25px;
  font-size: 18px;
  color: #c7c7c7;
  text-align: center;
}
.cv-logs {
  margin: 50px 0px;
}
.cv-logos ul {
  list-style: none;
  width: 100%;
  position: relative;
}
.cv-logos ul li {
  display: block;
  float: left;
  width: 100%;
  text-align: center;
  height: 200px;
}
.cv-logos ul li img {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1001;
}

/* Menu */

.c-hamburger {
  width: 66px;
  height: 66px;
}
.c-hamburger span {
  top: 32px;
  left: 19px;
  right: 12px;
}
.no-mobile, .no-mobile-span {
  display: none;
}
.mobile-view {
  display: block;
}
.recomend {
    padding: 60px 0px 60px 0px;
}
.recomend-title {
    font-size: 20px;
    font-weight: 800;
    text-align: center;
    color: #fff;
}
.cred-owner {
    text-align: center;
    margin-top: 30px;
    font-size: 13px;
    color: #c7c7c7;
}
.cred-owner > span {
    color: #fff;
    text-transform: uppercase;
    font-weight: 800;
    margin-right: 5px;
    display: block;
}

/* Credits */

.credits {
  text-align: center;
  margin-bottom: 25px;
  color: #5A5A5A;
}
.credits a {
  font-weight: bold;
  color: #ee2930;
  text-decoration: none;
}

.header {
    height: 330px!important;
}

.scroll-mouse {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}

@media (min-width: 768px) {

  .modal-dialog {
    width: 100%;
    margin: 0px 0px;
  }
  .portolio-subpage {
    background-size: 100%;
  }
  .subpage-header-text h1 {
    font-size: 150px;
    text-transform: uppercase;
    font-weight: 800;
  }
  .subpage-header-text h2 {
    font-size: 40px;
  }
  .portolio-subpage header {
    height: 700px;
  }
  .article-text {
    padding: 70px;
  }
  .article-image {
    height: 700px;
    overflow: hidden;
  }
  .scroll-helper {
    top: 66px;
    width: 66px;
    padding: 15px 0px;
  }
  #myMenu, #myTabMenu {
    width: auto;
    font-size: 14px;
  }
  #myMenu {
    left: 66px;
  }
  #myTabMenu {
    left: 67px;
    padding-left: 30px;
  }
  #myMenu li, #myTabMenu li {
    display: inline-block;
    margin: 0px 30px 0px 0px;
    height: 66px;
    line-height: 66px;
    position: relative;
  }
  #myMenu li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 18px;
    height: 2px;
    width: 0;
    -webkit-transition: width 0.25s, top 0.2s;
    transition: width 0.2s, top 0.2s;
    background-color: #111111;
    z-index: 99999;
  }
  #myMenu li a:hover::after {
      width: 100%;
  }
  #myMenu li.active a:hover::after {
      width: 0px;
  }
  .konnichiva {
    font-size: 96px;
    margin-left: 35px;
  }
  .my-avrt {
    left: 50%;
    margin-top: -150px;
    margin-left: 0px;
  }
  .my-avrt img {
    border: 10px solid #f4f4f4;
    width: 100%;
  }
  .box {
    width: 296px;
    margin-left: -148px;
  }
  .service {
    font-size: 18px;
  }
  .header-info h1 {
    font-size: 56px;
    margin-bottom: 10px;
  }
  .header-info h2 {
    font-size: 20px;
    display: block!important;
  }
  .big-text {
    font-size: 100px;
    font-weight: 800;
  }
  .itallic {
    margin-top: 40px;
  }
  .main-text {
    /*margin-top: -40px;*/
    font-weight: 800;
    text-align: left;
    line-height: initial;
    padding: 0px 100px 0px 60px;
  }
  .skill_desc {
    margin-left: 0px;
  }
  .portfolio-header-info h1 {
  
  }
  .webdesign, .frontend, .misc {
    background-size: 100%;
  }
  .inner-control-left {
    display: block!important;
    float: left;
    width: 78%;
    padding-top: 26px;
    margin-left: -7px;
  }
  .inner-control-right {
    display: block!important;
    float: left;
    width: 78%;
    padding-top: 26px;
  }
  .fp-controlArrow {
    width: 300px;
  }
  .cv-logos ul li {
    width: 20%;
    height: auto;
  }
  #myMenu {
    padding: 0 20px 0 0;
    width: 100%;
    text-align: center;
    left: 0px;
  }
  .no-mobile {
    display: block;
  }
  .no-mobile-span {
    display: inline;
  }
  .mobile-view {
    display: none!important;
  }
  .aboutMeText {
    padding: 0px 0px 0px 35px;
    margin-top: 0px;
  }
  .my-avrt-cv img {
    width: auto;
    margin-top: 0px;
  }
  .pro-exp {
    margin-top: 30px;
    font-weight: bold;
  }
  .cv-worked {
    margin-top: 40px;
    font-size: 21px;
    padding: 0px 150px;
    line-height: 34px;
  }
  #carousel, #carousel-1, #carousel-2, carousel-3 {
    display: block;
  }
  .macbook-mockup {
    display: block;
  }
  .carousel-header {
    margin-bottom: 90px;
  }
  .mockup-comp {
    background-size: cover;
    padding: 140px 0px;
  }
  .tab-content {
    margin-top: 40px;
  }
  .overlay-box h3 {
    font-size: 18px;
    font-weight: bold;
  }
  .tab-content img {
    width: auto;
  }
  .mobile-item {
    display: none;
  }
  .tooltip > .tooltip-inner {
    width: 100%;
    max-width: none;
  }
  .credits {
    margin-bottom: 60px;
  }
  .recomend-title {
      font-size: 40px;
  }
  .recomend {
      padding: 120px 0px 120px 0px;
  }
  .cred-owner > span {
      display: inline
  }
  .reveal-text {
      white-space: nowrap;
      width: auto;
  }
  .reveal-text {
      transform: translate(-50%,-19%);
      font-size: 46px;
      padding: 0px;
  }
  .short-about-me, .my-skills {
    height: 100vh!important;
  }
  .scroll-mouse {
      bottom: 70px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1920px) {
    .main-text,
    .portfolio-header-info h1 {
      font-size: calc(30px + 47 * ((100vw - 768px) / 1152 ));
    }

}

@media screen and (min-width: 1920px) {
    .main-text {
      font-size: 77px;
    }
    .portfolio-header-info h1 {
      font-size: 50px;
    }
    .konnich {
      width: 1041px;
    }
}
