<div class="modal-body">
  <div class="portolio-subpage awethor-subpage">
    
    <header>
      <div class="subpage-header-text">
        <h1>Awethor</h1>
        <h2>Real time text streaming</h2>
      </div>
    </header>
    
    <article>
     
     <div class="row portfolio-colors">
          <div class="article-text">
            <div class="line"></div>
            <h1>Awethor</h1>
            <p> As a startup enthusiast and the founder of Croatian startup conference Voogle, my relationship with startups does not stop there. Early 2015, few of my friends and me are starting Awethor.com - live text streaming platform for writers and authors. Awethor word in a coin from words 'Awsome' and 'Author'. <br>The basic idea behind the Awethor is for a writer to share his real-time writing with his audience. <br> We applied to Eleven Startup Accelarator (second largest Europe accelerator) and we made it to the finals with other 30 startups among more than 600 aplications. <br> Awethor functional prototype app can be found on link below.
           
             </p>
            <a class="frontend-url" href="http://www.awethor.com" target="_blank">View website</a>
            
          </div>
     </div>
    </article>
    
  </div>
</div>