<div class="modal-body">
  <div class="portolio-subpage pharma-subpage">
    
    <header>
      <div class="subpage-header-text">
        <h1>ePharmaBiz</h1>
        <h2>Medical education app</h2>
      </div>
    </header>
    
    <article>
     
     <div class="row portfolio-colors">
          <div class="article-text">
            <div class="line"></div>
            <h1>ePharmaBiz</h1>
            <p>ePharmaBiz is online application for medical workers/staff (doctors, pharmacists, nurses) for education and testing knowledge. Medical staff can create accounts, read online documents for their field of conduct and solve online tests with ability to export tests in PDF format.
</p>            
          </div>
     </div>
     
    </article>
    
  </div>
</div>