<div class="modal-body">
  <div class="portolio-subpage salonchamp-subpage">
    
    <header>
      <div class="subpage-header-text">
        <h1>SalonChamp</h1>
        <h2>Cosmetics shop best management tool</h2>
      </div>
    </header>
    
    <article>
     
     <div class="row portfolio-colors">
          <div class="article-text">
            <div class="line"></div>
            <h1>SalonChamp</h1>
            <p>SalonChamp is SaaS application for salon management. It's created by industry proffesionals. Swiss knife application that include scheduling appointments with interactive calendars, customer and product management, SMS reminders, marketing tools and invoicing. With Salonchamp it is not needed to spend time on various applications, installation and maintenence. Salonchamp is accesible from PC, Mac, tablet or even smartphone wherever there is an internet connection. As a frontend developer I worked closely with development team and implemented extended features for OpenSource libraries that we used for particular Salonchamp features.
</p>
            <a class="frontend-url" href="http://www.salonchamp.com" target="_blank">View website</a>
            
       </div>
     </div>
    </article>
    
  </div>
</div>