<div class="modal-body">
  <div class="portolio-subpage vinc-subpage">
    
    <header>
      <div class="subpage-header-text">
        <h1>Vinc</h1>
        <h2>Cloud hosting service</h2>
      </div>
    </header>
    
    <article>
     
     <div class="row portfolio-colors">
       <div class="col-md-6">
          <div class="article-image vinc-image"></div>
       </div>
       <div class="col-md-6">
          <div class="article-text">
            <div class="line"></div>
            <h1>VINC Cloud hosting service</h1>
            <p>Client demanded modern and flat design with fair amount of illustrated work. However, illustrations could not be cartoon-ish, but more of colder-collage type. </p>
          </div>
       </div>
     </div>
     
     <div class="design-board">
       <div class="mockup-comp">
         <div class="carousel-header">
            <a class="homepage" data-site="vinc" data-currentModal="#modalVinc" href="#">View full design</a>
         </div>
         <div class="macbook-mockup"><img src="/images/macbook-pro-mock.png" alt=""></div>
         <div class="mob-box">
           <div class="iphone-mockup"><img src="/images/iphone.png" alt=""></div>
         </div>
       </div>
       <div id="carousel" class="carousel slide" data-ride="carousel">
         <div class="carousel-inner" role="listbox">
            <div class="item active">
              <img src="/template/vinc/homepage-new.jpg" class="web-desk" alt="homepage">
              <img src="/template/vinc/homepage-mobile-new.jpg" class="web-mobile" alt="homepage">
            </div>
            <div class="item">
              <img src="/template/vinc/blog-list-new.jpg" class="web-desk" alt="homepage">
              <img src="/template/vinc/blog-list-mobile-new.jpg" class="web-mobile" alt="homepage">
            </div>
            <div class="item">
              <img src="/template/vinc/blog-item-new.jpg" class="web-desk" alt="homepage">
              <img src="/template/vinc/blog-item-mobile-new.jpg" class="web-mobile" alt="homepage">
            </div>
         </div>
         <ol class="carousel-indicators">
            <li data-target="#carousel" data-slide-to="0" class="active" title="Homepage" data-title="homepage"></li>
            <li data-target="#carousel" data-slide-to="1" title="Blog list page" data-title="blogListPage"></li>
            <li data-target="#carousel" data-slide-to="2" title="Blog item page" data-title="blogItemPage"></li>
         </ol>
       </div>
    
     </div>
    </article>
  </div>
</div>

<script src="/js/modal-manipulation.js"></script>
