<div class="modal-body">
  <div class="portolio-subpage vivarise-subpage">
    
    <header>
      <div class="subpage-header-text">
        <h1>Vivarise</h1>
        <h2>Lean Green</h2>
      </div>
    </header>
    
    <article>
     
     <div class="row portfolio-colors">
       <div class="col-md-6">
          <div class="article-image vivarise-image"></div>
       </div>
       <div class="col-md-6">
          <div class="article-text">
            <div class="line"></div>
            <h1>Vivarise</h1>
            <p>VIVARISE is a nutritional supplement company that sells superfood powders. Our company sources the plants ethically from organic farmers around the world through fair trade and delivers the superfood powders in single serving packets so our customers can take them on the go. In addition, for every product sold, we donate a percentage of profits to fight hunger amongst women and children </p>
          </div>
       </div>
     </div>
     
     <div class="design-board">
       <div class="mockup-comp">
         <div class="carousel-header">
            <a class="homepage" data-site="vivarise" data-currentModal="#modalVivarise" href="#">View full design</a>
         </div>
         <div class="macbook-mockup"><img src="/images/macbook-pro-mock.png" alt=""></div>
       </div>
       <div id="carousel-1" class="carousel slide" data-ride="carousel">
         <div class="carousel-inner" role="listbox">
            <div class="item active">
              <img src="/template/vivarise/homepage.jpg" class="web-desk" alt="homepage">
            </div>
            <div class="item">
              <img src="/template/vivarise/purpose.jpg" class="web-desk" alt="purpose">
            </div>
            <div class="item">
              <img src="/template/vivarise/shop.jpg" class="web-desk" alt="shop">
            </div>
         </div>
         <ol class="carousel-indicators">
            <li data-target="#carousel-1" data-slide-to="0" class="active" title="Homepage" data-title="homepage"></li>
            <li data-target="#carousel-1" data-slide-to="1" title="Purpose page" data-title="purposePage"></li>
            <li data-target="#carousel-1" data-slide-to="2" title="Product shopping page" data-title="productPage"></li>
         </ol>
       </div>
    
     </div>
    </article>
  </div>
</div>
 
<script src="/js/modal-manipulation.js"></script>