<div class="modal-body">
  <div class="portolio-subpage voogle-subpage">
    
    <header>
      <div class="subpage-header-text">
        <h1>Voogle</h1>
        <h2>Idea Accelerator</h2>
      </div>
    </header>
    
    <article>
     
     <div class="row portfolio-colors">
          <div class="article-text">
            <div class="line"></div>
            <h1>Voogle</h1>
            <p> On iniciative of my business colleague from Microsoft Innovation Center Varazdin, people from Technology Park Varazdin and me, Voogle was formed. Idea behind Voogle is to gather young people and show them ways how to transfer their idea into viable, sustainable business. Later on we gather few succesful software companies and opened Idea Accelerator as Voogle division. Idea accelerator operates on principle that we offer our software development services to people who have other experties (i.e. Sales, Marketing) and their ideas but for some reason can not, or do not have ability, to build their innovative software product. </p>
            <a class="frontend-url" href="http://www.voogle.com.hr" target="_blank">View website</a>
            
          </div>
     </div>
    </article>
    
  </div>
</div>