 <div class="boxes">
   <div class="design-bg first"></div>
   <div class="design-bg second"></div>
   <div class="design-bg third"></div>
 </div>
 
 <div class="modal-body">
   <div class="designTabs">
      <ul id="myTabMenu" role="tablist">
        <li role="presentation" class="active"><a href="#home-page" aria-controls="home-page" role="tab" data-toggle="tab">Homepage</a></li>
        <li role="presentation"><a href="#case-study-page" aria-controls="case-study-page" role="tab" data-toggle="tab">Case studies page</a></li>
        <li role="presentation"><a href="#case-item-page" aria-controls="case-item-page" role="tab" data-toggle="tab">Case study</a></li>
      </ul>
      <div class="design-pref">
        <div class="desktop"><i class="fa fa-desktop"></i></div>
      </div>

      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="home-page">
          <div class="container">
            <div class="col-md-12">
              <img style="width: 100%;" src="/template/expandlab/portfolio/homepage.jpg">
            </div>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="case-study-page">
          <div class="container">
            <div class="col-md-12">
              <img style="width: 100%;" src="/template/expandlab/portfolio/case-study.jpg">
            </div>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="case-item-page">
          <div class="container">
            <div class="col-md-12">
              <img style="width: 100%;" src="/template/expandlab/portfolio/case-item.jpg">
            </div>
          </div>
        </div>
      </div>
    </div>
</div>