
 
 <div class="modal-body">
   <div class="designTabs">
      <ul id="myTabMenu" role="tablist">
        <li role="presentation" class="active"><a href="#home-page" aria-controls="home-page" role="tab" data-toggle="tab">Homepage</a></li>
        <li role="presentation"><a href="#purpose-page" aria-controls="purpose-page" role="tab" data-toggle="tab">Purpose page</a></li>
        <li role="presentation"><a href="#shopping-page" aria-controls="shopping-page" role="tab" data-toggle="tab">Shopping page</a></li>
      </ul>
      <div class="design-pref">
        <div class="desktop"><i class="fa fa-desktop"></i></div>
      </div>

      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="home-page">
          <div class="container">
            <div class="col-md-12">
              <img style="width: 100%;" src="/template/vivarise/portfolio/homepage.jpg" alt="homepage-desktop">
            </div>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane fade"  id="purpose-page">
          <div class="container">
            <div class="col-md-12">
              <img style="width: 100%;" src="/template/vivarise/portfolio/purpose.jpg" alt="">
            </div>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="shopping-page">
          <div class="container">
            <div class="col-md-12">
              <img style="width: 100%;" src="/template/vivarise/portfolio/shopping-page.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
</div>