<div class="modal-body">
  
   <div class="designTabs">
    
      <ul id="myTabMenu" role="tablist">
        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Homepage</a></li>
        <li role="presentation"><a href="#blog-list-page" aria-controls="blog-list-page" role="tab" data-toggle="tab">Blog list page</a></li>
        <li role="presentation"><a href="#blog-item-page" aria-controls="blog-item-page" role="tab" data-toggle="tab">Blog item page</a></li>
        <li role="presentation"><a href="#typography" aria-controls="typography" role="tab" data-toggle="tab">Typography</a></li>
      </ul>
      
      <div class="design-pref">
        <div class="desktop"><i class="fa fa-desktop"></i></div>
        <div class="mobile"><i class="fa fa-mobile"></i></div>
      </div>

      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="home">
          <div class="container">
            <div class="col-md-4">
              <img src="/template/vinc/vinc-web-mobile.png" alt="hompage-mobile">
            </div>
            <div class="col-md-8">
              <img style="width: 100%;" src="/template/vinc/homepage.jpg" alt="homepage-desktop">
            </div>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane fade"  id="blog-list-page">
          <div class="container">
            <div class="col-md-4">
              <img src="/template/vinc/vinc-web-mobile-blog-list.png" alt="">
            </div>
            <div class="col-md-8">
              <img style="width: 100%;" src="/template/vinc/blog-list.jpg" alt="">
            </div>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="blog-item-page">
          
          <div class="container">
            <div class="col-md-4">
              <img src="/template/vinc/vinc-web-mobile-blog-item.png" alt="">
            </div>
            <div class="col-md-8">
              <img style="width: 100%;" src="/template/vinc/blog-item.png" alt="">
            </div>
          </div>
          
        </div>
        
        <div role="tabpanel" class="tab-pane fade" id="typography">
          
          <div class="container">
            <div class="col-md-12">
              <img style="width: 100%;" src="/template/vinc/elements-page.jpg" alt="">
            </div>
          </div>
          
        </div>

      </div>

    </div>
   
</div>